.logo{
    position: absolute;
    left: 10px;
}
.nad{
    text-align: center;
}
.hr{
    color: rgb(67, 176, 253);
}
nav {
   max-width: 1320px; 
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 16px 0;
}
.navbarLinks {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-inline: auto;
}
nav ul {
    text-align: center;
}
li {
    display: inline;
    float: center;
}
li a {
    color: black;
    position: static;
    text-align: right;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 15px;
}
.box li{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: white;
    width: 140px;
    height: 50px;
    border: 1px solid rgb(83, 141, 240);
    background-color: rgb(83, 141, 240);
}
.row {
    display: flex;
    font-size: 25px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
    background-color: rgb(83, 141, 240);
}
.row h1 {
    font-size: 20px;
    color: white;
    text-align: center;
}
.row h2 {
    font-size: 15px;
    color: white;
    text-align: center;
}
.row img{
    max-width: 100%;
    /* padding: 50px 0; */
    position: relative;
    right: 5px;
}
.col-2{
    flex-basis: 40%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}
.row-2{
    position: center;
    display: flex;
    font-size: 15px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}
.row-2 p{
    margin-top: 100px;
    font-size: 32px;
    color: black;
    text-align: center;
}
.col-2 p{
    color: black;
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
}
.container{
    display: flex;
    max-width: 1320px;
    justify-content: center;
}
.usercard{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    margin: 20px;
}
.usercard2{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    margin: 20px;
}
.usercard3{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    margin: 20px;
}
.row-3 .heading{
    position: center;
    font-size: 32px;
    flex-wrap: wrap;
    color: black;
    margin-top: 100px;
    margin-left: 50px;
}
.col-3 p{
    flex-basis: 40%;
    min-width: 300px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 18px;
}
.img img {
    height: 100%;
}
.boxy{
    display: grid;
    grid-template-columns: auto auto; 
    padding: 120px;
    justify-content: right;
    text-align: right;
}
.boxy .box1{
    width: 250px;
    height: 180px;
    background-color: rgb(146, 183, 248);
    color: rgb(57, 126, 255);
    font-size: 50px;
}
.boxy .box2{
    width: 250px;
    height: 180px;
    background-color: rgb(164, 255, 202);
    color: rgb(72, 255, 0);
    font-size: 50px;
}
.boxy .box3{
    width: 250px;
    height: 180px;
    background-color: rgb(240, 253, 166);
    color: rgb(255, 225, 0);
    font-size: 50px;
}
.boxy .box4{
    width: 250px;
    height: 180px;
    background-color: rgb(248, 146, 185);
    color: rgb(255, 57, 57);
    font-size: 50px;
}
.cards{
    justify-content: space-between;
    display: inline-table;
    max-width: 1320px;
    align-items: center;
}
.cardhead{
    font-size: 35px;
    color: black;
}
.column {
    width: 20%;
    height: 100px;
    padding: 0 10px;
    display: inline-table;
    float: left;
    margin-bottom: 20px;
}
.card{
    padding: 16px;
    text-align: center;
    align-items: right;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}